.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.CarritoStyle{
    background-color: rgb(82, 81, 81);
}
.LogoStyle{
    width: 130px;
    height: auto;
}