.NavBarStyle {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

a {
      color: #ffffff;
    text-shadow: 1px 1px 5px rgba(192, 168, 123, 0.993);
    text-decoration: none;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
ul {
  list-style: none;   /* saca los puntos */
  padding: 0;         /* saca el espacio interno */
  margin: 0;          /* saca el margen */
}



.CarritoStyle{
    background-color: rgb(80, 72, 59);
}
.LogoStyle{
    width: 90px;
    height: auto;
}

.ContactStyle{
    color: rebeccapurple;
    
}