.NavBarStyle {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    background-color: rgb(48, 43, 35);
    padding: 30px;
}

a {
      color: #ffffff;
    text-shadow: 1px 1px 5px rgba(228, 189, 117, 0.993);
    text-decoration: none;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
  text-transform: uppercase;

}
ul {
  list-style: none;   /* saca los puntos */
  padding: 0;         /* saca el espacio interno */
  margin: 0;          /* saca el margen */
}



.CarritoStyle{
    background-color: rgb(80, 72, 59);
    width: auto;
}
.LogoStyle{
    width: 90px;
    height: auto;
}

.ContactStyle{
    color: rebeccapurple;
    background-color: black;
}